/* 顶部样式 */
.wjs_header {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.wjs_header .row {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
}
.wjs_header .row > div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}
.wjs_header .row .wjs_code {
  position: relative;
}
.wjs_header .row .wjs_code a {
  display: block;
}
.wjs_header .row .wjs_code img {
  position: absolute;
  display: block;
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  z-index: 10;
}
.wjs_header .row .wjs_code:hover img {
  display: block;
}
.wjs_header .row .btn-danger {
  background: green;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  outline: none;
}
.wjs_header .row .btn-link {
  color: red;
  text-decoration: none;
  outline: none;
}
/* 导航条样式 */
.wjs_nav {
  margin-bottom: 0;
}
.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
  font-size: 40px;
}
.wjs_nav .navbar-brand span:first-of-type {
  color: red;
}
.wjs_nav .navbar-brand span:last-of-type {
  color: black;
}
.wjs_nav .navbar-nav li {
  font-size: 16px;
}
.wjs_nav .navbar-nav li a {
  display: block;
  line-height: 50px;
}
.wjs_nav .navbar-nav li a:hover,
.wjs_nav .navbar-nav li a:focus {
  color: #666;
  border-bottom: 3px solid red;
}
.wjs_nav .navbar-nav .active a,
.wjs_nav .navbar-nav .active a:hover,
.wjs_nav .navbar-nav .active a:focus {
  background-color: transparent;
  color: #666;
  border-bottom: 3px solid red;
}
.wjs_nav .navbar-toggle {
  margin-top: 17px;
}
/* 轮播图样式 */
.wjs_banner .carousel-inner a {
  width: 100%;
  display: block;
}
.wjs_banner .carousel-inner .pcImg {
  width: 100%;
  height: 410px;
  background-position: center center;
  background-size: cover;
}
.wjs_banner .carousel-inner .mobileImg img {
  width: 100%;
  height: 100%;
  display: block;
}
/* 信息块样式 */
.wjs_info .row {
  padding: 30px;
}
.wjs_info .row .wjs_icon {
  font-size: 30px;
}
.wjs_info .row div {
  margin-top: 20px;
}
.wjs_info .row div a:hover {
  color: red;
}
/* 预约块样式 */
.wjs_reverse {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.wjs_reverse .row {
  font-size: 12px;
}
.wjs_reverse .row .yuyue {
  color: red;
  border-bottom: 1px dashed red;
}
.wjs_reverse .row a:hover {
  color: red;
}
.wjs_reverse .wjs_icon {
  font-size: 16px;
}
/* 产品快样式 */
.wjs_product {
  clear: both;
  padding: 20px 0;
  background-color: #eee;
  /* 产品块详细样式 */
}
.wjs_product .tabs_parent {
  width: 100%;
  overflow: hidden;
}
.wjs_product .nav-tabs li {
  padding: 0px 15px;
  line-height: 20px;
}
.wjs_product .nav-tabs li a {
  border: none;
  border-radius: 0px;
  background-color: transparent;
}
.wjs_product .nav-tabs li a:hover {
  border-bottom: 3px solid red;
}
.wjs_product .nav-tabs li.active a,
.wjs_product .nav-tabs li.active a:hover,
.wjs_product .nav-tabs li.active a:focus {
  border: none;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid red;
}
.wjs_product .wjs_pBox {
  margin-top: 20px;
  height: 150px;
  position: relative;
  background-color: #fff;
  /* active样式 */
}
.wjs_product .wjs_pBox .wjs_pLeft {
  margin-right: 100px;
  font-size: 12px;
  padding-top: 10px;
}
.wjs_product .wjs_pBox .wjs_pLeft > p {
  font-size: 16px;
  text-align: center;
}
.wjs_product .wjs_pBox .wjs_pLeft .row > div {
  padding: 0 20px;
}
.wjs_product .wjs_pBox .wjs_pLeft .row div:nth-of-type(even) {
  text-align: right;
}
.wjs_product .wjs_pBox .wjs_pRight {
  width: 100px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px dashed #eee;
  text-align: center;
  padding-top: 30px;
}
.wjs_product .wjs_pBox .wjs_pRight b {
  font-size: 40px;
  color: red;
}
.wjs_product .wjs_pBox .wjs_pRight sub {
  bottom: 0;
}
.wjs_product .wjs_pBox .wjs_pRight::before,
.wjs_product .wjs_pBox .wjs_pRight::after {
  content: "";
  position: absolute;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: #eee;
  border-radius: 50%;
}
.wjs_product .wjs_pBox .wjs_pRight::before {
  top: -5px;
}
.wjs_product .wjs_pBox .wjs_pRight::after {
  bottom: -5px;
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_ptip {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_ptip span {
  cursor: pointer;
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_ptip span:first-of-type {
  color: red;
  border: 1px solid red;
}
.wjs_product .wjs_pBox .wjs_pRight .wjs_ptip span:last-of-type {
  color: blue;
  border: 1px solid blue;
}
.wjs_product .wjs_pBox.active {
  background-color: red;
}
.wjs_product .wjs_pBox.active .wjs_pLeft {
  color: #fff;
}
.wjs_product .wjs_pBox.active .wjs_pRight {
  color: #fff;
}
.wjs_product .wjs_pBox.active .wjs_pRight b {
  color: #fff;
}
.wjs_product .wjs_pBox.active .wjs_pLeft {
  position: relative;
}
.wjs_product .wjs_pBox.active .wjs_pLeft::before {
  content: "\e915";
  font-family: "wjs";
  font-size: 20px;
  position: absolute;
  top: -5px;
  left: 0;
}
.wjs_news {
  padding: 20px;
}
.wjs_news .row {
  /* 竖线 */
}
.wjs_news .row .wjs_nTop {
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.wjs_news .row .wjs_nTop::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -10px;
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.wjs_news .row .nav-tabs {
  border: none;
  /* 媒体查询改变不同宽度下的 li的 大小 */
}
.wjs_news .row .nav-tabs .wjs_icon {
  font-size: 30px;
  color: #fff;
}
.wjs_news .row .nav-tabs li:last-of-type {
  margin-bottom: 0;
}
.wjs_news .row .nav-tabs > li {
  margin-bottom: 60px;
}
.wjs_news .row .nav-tabs > li a {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #eee;
  border: none;
}
.wjs_news .row .nav-tabs > li a:hover {
  background-color: red;
}
.wjs_news .row .nav-tabs > li.active a,
.wjs_news .row .nav-tabs > li.active a:hover,
.wjs_news .row .nav-tabs > li.active a:focus {
  background-color: red;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .wjs_news .row .nav-tabs li {
    margin: 20px 30px;
  }
}
@media screen and (max-width: 768px) {
  .wjs_news .row .nav-tabs li {
    width: 25%;
  }
}
.wjs_news .row .wjs_nLine {
  position: absolute;
  top: 0;
  left: 45px;
  width: 1px;
  height: 420px;
  border: 1px dashed red;
}
.wjs_news .row .wjs_newslist ul {
  list-style: none;
}
.wjs_news .row .wjs_newslist ul li {
  line-height: 50px;
}
/* 合作伙伴 */
.wjs_partner {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}
.wjs_partner ul {
  list-style: none;
  display: inline-block;
}
.wjs_partner ul li {
  float: left;
  margin-right: 20px;
}
.wjs_partner ul li .wjs_icon {
  font-size: 80px;
}
